---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={`${SITE_TITLE} - Home`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="mx-auto px-6 max-w-2xl">
			<h1 class="text-4xl font-bold leading-tight mb-4">Benvenuti a Nuova Salute</h1>
			<p class="leading-relaxed">Il tuo partner per la salute e il benessere.</p>
		</main>
		<Footer />
	</body>
</html>
