---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={`${SITE_TITLE} - Professionisti`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="mx-auto  max-w-2xl">
			<h2 class=" font-bold leading-tight mb-4">I Nostri Professionisti</h2>
			<p class="leading-relaxed">Conosci il nostro team di esperti dedicati alla tua salute e benessere.</p>
			<div class="my-8">
				<div class="my-8 p-8 bg-gray-100 rounded-lg">
					<p>I dettagli dei nostri professionisti verranno aggiunti presto...</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
