---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ServicesGrid from "../components/ServicesGrid.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="it">
  <head>
    <BaseHead
      title={`${SITE_TITLE} - Servizi`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main class="mx-auto  max-w-6xl py-16">
      <h1 class="text-4xl font-bold leading-tight mb-4">I Nostri Servizi</h1>
      <p class="leading-relaxed mb-12">
        Scopri gli innovativi servizi che offriamo per il tuo benessere. Ogni
        servizio è progettato per garantire la migliore qualità di cure e
        assistenza.
      </p>

      <ServicesGrid showTitle={false} showButton={false} />

      <div class="mt-12 bg-blue-50 border-l-4 border-primary p-6 rounded">
        <p class="text-gray-800 mb-4">Interessato a uno dei nostri servizi?</p>
        <a
          href="/contatti"
          class="bg-primary hover:bg-opacity-90 text-white font-bold p-2  rounded transition"
        >
          Contattaci Oggi
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
