---
const today = new Date();
import whatsapp from "../assets/WhatsApp.svg.webp";
---

<footer>
	<div class="social-links flex flex-col">
		<ul class="my-4 text-center">
			<li class="my-2 leading-relaxed"><strong class="font-bold">Email:</strong> info@nuovasalute.it</li>
			<li class="my-2 leading-relaxed"><strong class="font-bold">Telefono:</strong> +39 XXX XXX XXXX</li>
			<li class="my-2 leading-relaxed"><strong class="font-bold">Indirizzo:</strong> [Inserire indirizzo]</li>
			<li class="my-2 leading-relaxed"><strong class="font-bold">Orari:</strong> Lunedì - Venerdì: 9:00 - 18:00</li>
		</ul>
    </div>
	&copy; {today.getFullYear()} Nuova salute. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
