---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import logo from "../assets/nuova-salute.png";
import whatsapp from "../assets/WhatsApp.svg.webp";
---

<header>
  <nav>
    <a style="padding: 0" href="/"
      ><img src={logo.src} alt="{SITE_TITLE} Logo" width="120" /></a
    >
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/servizi">Servizi</HeaderLink>
      <HeaderLink href="/contatti">Contatti</HeaderLink>
      <HeaderLink href="/galleria">Galleria</HeaderLink>
      <HeaderLink href="/professionisti">Professionisti</HeaderLink>
    </div>

    <div class="social-links">
      <div class="phone-number">
        <a
          href="tel:+39123456789"
          class="text-black hover:text-primary transition"
          >+39 123 456 789</a
        >
      </div>
      <a href="https://www.whatsapp.com/" target="_blank">
		<img width="32" height="32" src={whatsapp.src} />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
    .phone-number {
      display: none;
    }
  }
</style>
